<div class="row">
  <%= form_with(model: pony, local: true, class: "col-sm-6") do |form| %>
    <% if pony.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(pony.errors.count, "error") %> prohibited this pony from being saved:</h2>

        <ul>
        <% pony.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field form-group">
      <%= form.number_field :age, id: :pony_age, class: "form-control", placeholder: :age %>
    </div>

    <div class="field form-group">
      <%= form.text_field :breed, id: :pony_breed, class: "form-control", placeholder: :breed %>
    </div>

    <div class="field form-group">
      <%= form.number_field :height, id: :pony_height, class: "form-control", placeholder: :height %>
    </div>

    <div class="field form-group">
      <%= form.text_field :color, id: :pony_color, class: "form-control", placeholder: :color %>
    </div>

    <div class="actions form-group">
      <%= form.submit %>
    </div>
  <% end %>
</div>
