<p id="notice"><%= notice %></p>

<h1>Ponies</h1>

<div class="row">
  <div class="col col-sm-6">
    <div class="container">
      <ul>
        <div class="existing-ponies">
            <%= render @ponies %>
        </div>
      </ul>
      <div class="pony-form-container">
        <%= form_for @pony do |form| %>
          <td>
            <%= form.number_field :age, id: :pony_age, class: "form-control", placeholder: :age %>
          </td>
          <td>
            <%= form.text_field :breed, id: :pony_breed, class: "form-control", placeholder: :breed %>
          </td>
          <td>
            <%= form.number_field :height, id: :pony_height, class: "form-control", placeholder: :height %>
          </td>
          <td>
            <%= form.text_field :color, id: :pony_color, class: "form-control", placeholder: :color %>
          </td>
          <td>
            <%= form.submit class: "create_pony_submit" %>
          </td>
        <% end %>
      </tr>
    </div>
  </div>
</div>
